# Activer la réécriture d'URL
RewriteEngine On

# Ignore les fichiers et répertoires existants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Réécrit toutes les URLs vers index.php
RewriteRule ^(.*)$ index.php [L,QSA]

# Page 404 personnalisée
ErrorDocument 404 /404.php
